# Dependency directories
node_modules/

# Environment variables
.env

# Log files
*.log
logs/

# OS-specific files
.DS_Store
Thumbs.db

# Dependency archives
*.tgz

# Compiled code
dist/

# Temporary files
*.tmp
*.swp

