.dropdown-container{
    position: relative;
}
.dropdown__hidden{
    display: none;
}


.dropdown__visible{
    position: absolute;
    list-style: none;
    width: 250px;
    backdrop-filter: unset;
    background-color: rgba(2, 29, 53, 0.8); 
    padding-bottom: 20px;
    border-radius: 15px;

}

.dropdown__visible li{
    padding-top: 15px;

}