

html{
  scroll-behavior: smooth;

}
.layout-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.layout-container a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}
